:root {
	/* colors */
	--dark-10: #212121;
	--dark-20: #282828;
	--dark-30: #323232;
	--light-10: #ededed;
	--light-20: #c0c0c0;
	--neon-10: #ffc30e;
	--neon-20: #edb200;
	--scarlet: #fe3c3c;

	/* radiuses */
	--round: 50%;
	--rounded-10: 20px;
	--rounded-20: 5px;
}
